.rock {
  background-color: #ffffff;
  border-radius: 5px;
  box-sizing: border-box;
  margin: 5px;
  min-height: 50px;

  &[data-rock-type='ruby'] {
    background-color: red;
  }

  &[data-rock-type='emerald'] {
    background-color: green;
  }

  &[data-rock-type='jade'] {
    background-color: lightgreen;
  }

  &[data-rock-type='opal'] {
    background-color: purple;
  }

  &[data-rock-type='sapphire'] {
    background-color: blue;
  }

  &[data-rock-type='tiger-eye'] {
    background-color: orange;
  }

  &[data-rock-type='topaz'] {
    background-color: yellow; 
  }

  &:hover {
    border: 5px solid black;
    cursor: pointer;
  }

  &.selected {
    border: 10px solid black;
  }
}