.rock {
  background-color: #ffffff;
  border: 5px solid #ffffff;
  border-radius: 10px;
  box-sizing: border-box;
  margin: 3px;
  min-height: 50px;

  &[data-rock-type='ruby'] {
    background-color: #ff0000;
  }

  &[data-rock-type='emerald'] {
    background-color: #008500;
  }

  &[data-rock-type='jade'] {
    background-color: #00cc00;
  }

  &[data-rock-type='opal'] {
    background-color: #be008a;
  }

  &[data-rock-type='sapphire'] {
    background-color: #009999;
  }

  &[data-rock-type='tiger-eye'] {
    background-color: #ff7400;
  }

  &[data-rock-type='topaz'] {
    background-color: #a64b00; 
  }

  &:hover {
    border-width: 0;
    cursor: pointer;
  }

  &.selected {
    border: 2px solid #ffffff;
  }
}