.rock {
  background: black;
  box-sizing: border-box;
  margin: 5px;
  min-height: 50px;

  &.ruby {
    background-color: red;
  }

  &.emerald {
    background-color: green;
  }

  &.jade {
    background-color: lightgreen;
  }

  &.opal {
    background-color: purple;
  }

  &.sapphire {
    background-color: blue;
  }

  &.tiger-eye {
    background-color: orange;
  }

  &.topaz {
    background-color: yellow; 
  }

  &:hover {
    border: 5px solid black;
    cursor: pointer;
  }

  &.selected {
    border: 10px solid black;
  }
}